---
const offers = [
    {
       image: "616.jpeg",
        author: "Enduro Sport",
        price:"78.99",
        age: 31,
        quote: "If you’re after top tyres at low prices, you’re in the right place. Runway Tyres offers good quality tyres without compromising on safety and performance.",
    },
    {
        image: "926.jpeg",
        author: "Enduro Sport",
        price:"78.99",
        age: 28,
        quote: "If you’re after top tyres at low prices, you’re in the right place. Runway Tyres offers good quality tyres without compromising on safety and performance.",
    },
    {
       image: "636.png",
        author: "Enduro Sport",
        price:"78.99",
        age: 44,
        quote: "If you’re after top tyres at low prices, you’re in the right place. Runway Tyres offers good quality tyres without compromising on safety and performance.",
    },
];
---

<section class="py-12">
    <h1 class="yellowText text-5xl italic uppercase text-center">
        Top Offers
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-3">
        {
            offers.map((profile) => (
                <div class="m-4">
                    <img
                        src={"/images/" + profile.image}
                        alt="Top_offer"
                        class="object-cover w-full h-64"
                    />
                    <div class="yellowBG p-8">
                        <p class="pb-4 font-bold">{profile.quote}</p>
                        <small>
                            {profile.author},{profile.age}
                        </small>
                        <p class="pb-4 font-bold">Prices from $ {profile.price}</p>
                    </div>
                </div>
            ))
        }
        <button class="yellowBG p-2  text-black font-bold ml-4">
        View more offers..
        </button>
    </div>
</section>
